<div class="main container text-xs-center">
  <div class="row">
    <h2>{{title}}</h2>
    <div class="col-md-8 col-md-offset-2">
      <p>This is a shopping cart application that offers products of all different types and categories. You must be registered
        and logged in to be able shop at my site, so if you are not registered please see the link below.</p>
      <p>Enjoy my site!</p>
      <a class="btn btn-info-outline btn-lg" href="/register">Register Now!</a>
    </div>
  </div>
</div>