
    
    <h1>{{title}}</h1>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            
            <h1 class="display-4">
                <img class="prof-img img-circle hidden-xs-down" src="/images/robo-logo-white.png" alt="profile img">{{name}}</h1>
                <img src="/images/cart-profile.png" height="257" width="400">
            <h2 class=""><a href="/history/{{this.id}}" class="btn btn-primary">{{this.buyer}}History</a></h2>
            <p></p>
        </div>
    </div>
