

<div class="signup__container">
  <div class="container__child signup__thumbnail">
    <div class="thumbnail__logo">
      
    </div>
    <div class="thumbnail__content text-center">
      <!--
      <h1 class="heading--primary">Welcome to my application.</h1>
      <h2 class="heading--secondary">Are you ready to join?</h2>
      -->
    </div>
    <!--
    * Registration Form Design (CSS)
    * Alex Devero
    * -->
    <div class="signup__overlay"></div>
  </div>
  <div class="container__child signup__form">
    <form method="POST" action="/register">
      <div class="form-group">
        <label for="username">Name</label>
        <input class="form-control" type="text" name="name" id="username" placeholder="John Doe" required />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" type="text" name="email" id="email" placeholder="test@test.com" required />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" name="password" id="password" placeholder="*********" required />
      </div>
      <div class="form-group">
        <label for="password">Confirm Password</label>
        <input class="form-control" type="password" name="confirmPassword" id="passwordRepeat" placeholder="*********" required />
      </div>
      <div class="m-t-lg">
        <ul class="list-inline">
          <li>
            <input class="btn btn--form" type="submit" value="Register" />
			
          </li>
          <li>
            <a class="signup__link" href="/login">Already registered?</a>
          </li>
        </ul>
      </div>
    </form>  
  </div>
</div>

