/*
* Registration Form Design
* Alex Devero
*/

body {
  font-family: 'Raleway', sans-serif;
    /*background: #e9e9e9;*/
  }
  
  a,
  [type="submit"] {
    -webkit-transition: all .25s ease-in;
    transition: all .25s ease-in;
  }

  .login-form {
    
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 600px;
    margin: 0 auto 100px;
    padding: 45px;
   text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
      
  }

  .login-form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }

  .login-form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: transparent;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #d53139;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border: 1px #d53139 solid;
  }
  .login-form button:hover,.login-form button:active,.login-form button:focus {
    background: #d53139;
  }

  .eol-img img {
    width: 100%; 
    margin: 0 0 2em; 
  }

  .form-col, .login-form .col-md-6 .login-form .col-md-offset-3 {
      margin: 0 auto;
      width: 80%;
    float: none;
  }
  
  .signup__container {
    position: relative;
    top: 16em;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50rem;
    height: 31rem;
    border-radius: 0.1875rem;
    -webkit-box-shadow: 0px 0.1875rem 0.4375rem rgba(0, 0, 0, 0.25);
            box-shadow: 0px 0.1875rem 0.4375rem rgba(0, 0, 0, 0.25);
    margin-bottom: 5em;
  }
  
  .signup__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.76);
  }
  
  .container__child {
    width: 50%;
    height: 100%;
    color: #fff;
  }
  
  .signup__thumbnail {
    position: relative;
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: url('../images/thumbs_pedro_donini_08.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }
  
  .thumbnail__logo,
  .thumbnail__content,
  .thumbnail__links {
    position: relative;
    z-index: 2;
  }
  
  .thumbnail__logo {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  
  .logo__shape {
    fill: #fff;
  }
  
  .logo__text {
    display: inline-block;
    font-size: .8rem;
    font-weight: 700;
    vertical-align: bottom;
  }
  
  .thumbnail__content {
    -ms-flex-item-align: center;
        align-self: center;
  }
  
  h1,
  h2 {
    font-weight: 300;
    color: white;
  }
  
  .heading--primary {
    font-size: 1.999rem;
  }
  
  .heading--secondary {
    font-size: 1.414rem;
  }
  
  .thumbnail__links {
    -ms-flex-item-align: end;
        align-self: flex-end;
    width: 100%;
  }
  
  .thumbnail__links a {
    font-size: 1rem;
    color: #fff;
  }
  .thumbnail__links a:focus, .thumbnail__links a:hover {
    color: rgba(255, 255, 255, 0.5);
  }
  
  .signup__form {
    padding: 2.5rem;
    background: #fafafa;
  }
  
  label {
    font-size: .85rem;
    text-transform: uppercase;
    color: #ccc;
  }
  
  .form-control {
    background-color: transparent;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    line-height: 1;
  }
  .form-control:focus {
    border-color: #111;
  }
  
  [type="text"] {
    color: #111;
  }
  
  [type="password"] {
    color: #111;
  }
  
  .btn--form {
    padding: .5rem 2.5rem;
    font-size: .95rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    
    border-radius: 0;
    background-color: #d53139;
    
  }
  .btn--form:focus, .btn--form:hover {
    background: #bd5c5c;
  }

  .btn-primary:hover {
    border-color: #d53139;
}
  
  .signup__link {
    font-size: .8rem;
    font-weight: 600;
    text-decoration: underline;
    color: #999;
  }
  .signup__link:focus, .signup__link:hover {
    color: #787878;
  }
  